<h1>Astronauts</h1>
<br>
<% @astronauts.each do |astronaut| %> 
  <h3><%= astronaut.name %></h3>
  <p>Age: <%= astronaut.age %></p>
  <p>Job: <%= astronaut.job %></p>
<% end %>
<br>
<p>Average Age: <%= Astronaut.average_age %></p>